@model Challenge.Web.Models.EquipmentModel

@{
    ViewBag.Title = "Details";
}

    <h2>@Resources.Equipment.Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextControlDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextControlDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @if (Model.PictureUrl != null)
            {
                <img src="@Html.DisplayFor(model => model.PictureUrl)" width="96" height="65">
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(@Resources.Equipment.Edit, "Edit", new { id = Model.SerialNumber }) |
    @Html.ActionLink(@Resources.Equipment.BacktoList, "Index")
</p>
